<!DOCTYPE html>
<html>
  <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Meeple World</title>

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
		<link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css" rel="stylesheet">

		<!-- Custom styles for this template-->
		<link href="stylesheets/index.css" rel="stylesheet">
  </head>
	<body id="page-top">
		<%- include navbar.ejs %>
		
		<div id="wrapper">
			<%- include sidebar.ejs %>
			
			<div id="content-wrapper">
				<div class="container-fluid">
					<%- include name.ejs %>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; Services
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Email</th>
											<th>Category</th>
											<th>Base Price</th>
											<th>Price</th>
										</tr>
									</thead>
									<tbody>
										<% for(var i=0; i<ct_tbl.length; i++) { %>
										<tr>
											<td><%= ct_tbl[i].email %></td>
											<td><%= ct_tbl[i].category %></td>
											<td><%= ct_tbl[i].base_price %></td>
											<td><%= ct_tbl[i].price %></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= game_msg %></span></div>
					</div>

					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice"></i> &nbsp; Available Services
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
									<thead>
										<tr>
											<th>Category</th>
											<th>Base Price</th>
										</tr>
									</thead>
									<tbody>
										<% for(var i=0; i<all_tbl.length; i++) { %>
										<tr>
											<td><%= all_tbl[i].category %></td>
											<td><%= all_tbl[i].base_price %></td>
										</tr>
										<% } %>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer small text-muted"><span class="badge badge-pill badge-info"><%= game_msg %></span></div>
					</div>
					
					<div class="card mb-3">
						<div class="card-header">
							<i class="fas fa-dice-d20"></i> &nbsp; Add Service
						</div>
						<form method="post" action="/add_services">
							<div class="card-body">
								<div class="form-group row">
									<label for="category" class="col-sm-3 col-form-label"><b>Category:</b></label>
									<div class="col-sm-9">
										<input type="text" required="required" class="form-control" id="category" placeholder="Category" name="category" value="">
									</div>
								</div>
								<div class="form-group row">
									<label for="specialneeds" class="col-sm-3 col-form-label"><b>Base Price:</b></label>
									<div class="col-sm-9">
										<input type="text" required="required" class="form-control" id="baseprice" placeholder="Base Price" name="baseprice" value="">
									</div>
								</div>
								<div class="form-group row">
									<label for="specialneeds" class="col-sm-3 col-form-label"><b>Price:</b></label>
									<div class="col-sm-9">
										<input type="text" required="required" class="form-control" id="price" placeholder="Price" name="price" value="">
									</div>
								</div>																								
							</div>
							<div class="card-footer small text-muted"><button type="submit" class="btn btn-secondary">Add Pet</button></div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<%- include bottomscript.ejs %>
  </body>
</html>
